.homeImg {
  width: 150px;
  height: 70.5px;
  padding-right: 10px;
}
.navBar {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}

.navBar1 {
  padding-inline: 35px;
}

.togbtn {
  color: white;
  background-color: #8bc34a;
  padding: 10.2px;
  font-size: 18px;
  border: none;
  border-radius: 0px;
  font-weight: 400;
}

.iconCss {
  height: 20px;
  width: 20px;
}

.navItemsCss {
  font-size: 16px;
  font-family: sans-serif;
  padding-inline: 20px;

}

.navItemsCss a:hover {
  color: #8bc34a;
}

.navActionsIcons {
  color: #8bc34a;
  padding-inline: 20px;
  margin-top: 6px;
}

.cartIcon {
  top: 27px;
  width: 18px;
  padding: 3px;
  color: black;
  /* padding-right: 2px; */
  background-color: #8bc34a;
}

.mainPage01 {
  background-image: linear-gradient(160deg, #f8f6f3, #ffffff);
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.fontFam {
  font-family: "Open Sans", sans-serif;
}

.shopBtn {
  background-color: #6A9739;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 20px 10px;
}

.cardBg {
  background-color: #333333;

}

.iconcolor {
  color: #8b8b8b;
}

.iconcolor:hover {
  color: #8bc34a;
}

.custBtnHover {
  background-color: #ffffff;

  i {
    color: rgb(13, 110, 253);
  }
}

.custBtnHover:hover {
  background-color: rgb(13, 110, 253);
  color: #ffffff;

  i {
    color: #ffffff;
  }
}

.hoverclr {
  color: blue;
}
/* ::selection {
  color: red;
  background: yellow;
} */

